@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  background-color: #0f0f1a;
}

body {
  background-color: #f9fafb;
  color: #111827;
  font-family: system-ui, sans-serif;
}
